<div ng-controller="PMController as pm" ng-init="pm.initView()">
<md-card ng-cloak>
  <md-table-container>
    <table md-table class="table_notice">
      <tbody md-bodylayout="row">
        <tr>
          <td style="width: 50%">Project Name</td>
          <td>|</td>
          <td style="width: 50%">Project Manager</td> 
        </tr>
        <tr md-row>
          <td md-cell class="breakall">{{pm.project.name}}</td>
          <td>|</td>
          <td md-cell class="breakall">{{pm.pminf.name}}</td>
        </tr>
          </tbody>
      </table>
    </md-table-container>
</md-card>
<br>
<md-card ng-cloak>
  <md-table-container>
    <table md-table class="table_notice">
      <tbody md-bodylayout="row">
        <tr>
          <td>Startdate</td>
          <td>|</td>
          <td>Duedate</td> 
        </tr>
        <tr md-row>
          <td md-cell class="breakall">{{pm.strconvert(pm.project.startdate).slice(0,10)}}</td>
          <td>|</td>
          <td md-cell class="breakall">{{pm.strconvert(pm.project.duedate).slice(0,10)}}</td>
        </tr>
          </tbody>
      </table>
    </md-table-container>
</md-card>
<br>
<md-button class="md-raised" ui-sref="pmProjectUsers({pid: pm.pid})"><i class="fa fa-users">  Add User</i></md-button>

<md-card>
<md-table-container>
      <table md-table class="table_notice">
        <thead md-head md-order="pm.query.order">
        <tr md-row>
          <th md-column md-numeric md-order-by="p_id"><span class="title_size">Name</span></th>
          <th md-column md-numeric><span class="title_size">Email Address</span></th>
          <th md-column md-order-by="duedate"><span class="title_size">Phone Number</span></th>
        </tr>
        </thead>
        <tbody md-bodylayout="row">
          <tr md-row
            ng-repeat="user in pm.users">
            <td md-cell class="breakall">{{user.name}}</td>
            <td md-cell class="breakall">{{user.email}}</td>
            <td md-cell class="breakall">{{user.ph}}</td>
            <td md-cell class="breakall"><md-button class="md-raised" ng-click="pm.deleteUser(user.uid)"><i class="fa fa-trash"></i> Delete</md-button></td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="pm.query.limit" md-page="pm.query.page"
                         md-total="{{pm.projects.length}}" md-page-select
                         md-boundary-links></md-table-pagination>
</md-card>
<br>
<br>
<md-button class="md-raised" ui-sref="todo({pid :pm.pid})"><i class="fa fa-users">  Todo Edit</i></md-button>
<md-card ng-cloak>
  <md-table-container>
    <table md-table class="table_notice">
        <thead md-head>
        <tr md-row>
          <th md-column md-numeric><span class="title_size">Component</span></th>
          <th md-column md-numeric><span class="title_size">Uptodate</span></th>
          <th md-column><span class="title_size">Duedate</span></th>
          <th md-column><span class="title_size">Done</span></th>
        </tr>
        </thead>
        <tbody md-bodylayout="row">
          <tr md-row
            ng-repeat="todo in pm.todoes">
            <td md-cell class="breakall"><a>{{todo.component}}</a></td>
            <td md-cell class="breakall">{{pm.strconvert(todo.updatedAt).slice(0,19)}}</td>
            <td md-cell class="breakall">{{pm.strconvert(todo.duedate).slice(0,19)}}</td>
            <td md-cell class="breakall" ng-if="todo.done!=null">{{pm.strconvert(todo.done).slice(0,19)}}</td>
            <td md-cell class="breakall" ng-if="todo.done==null">Doing</td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
</md-card>
  <md-button class="md-raised" ui-sref="pmProjectModify({pid : pm.pid})"><i class="fa fa-edit"></i> Edit</md-button>
</div>