<div ng-controller="PMController as pm" ng-init="pm.initProject()"> 
<div>
  <md-card>
    <h2 style="font-size: 23pt;">&nbsp;Remaining Developers: <strong>{{pm.restusers.length}}</strong>명 
    <br>
    </h2>
  </md-card>
  <md-card ng-cloak>
    <md-card>
      <md-input-container md-no-float class="md-block">
        <ng-md-icon icon="search" style="margin-left:5px"></ng-md-icon>
        <input style="max-width:90%" ng-model="filter.search" type="text" placeholder="검색">
      </md-input-container>
    </md-card>
    
    <md-table-container>
      <table md-table class="table_notice">
        <thead md-head md-order="pm.query.order">
        <tr md-row>
          <th md-column md-numeric md-order-by="uid" colspan="2"><span class="title_size">ID</span></th>
          <th md-column md-numeric md-order-by="name"><span class="title_size">User Name</span></th>
          <th md-column md-numeric md-order-by="auth"><span class="title_size">Role</span></th>
        </tr>
        </thead>
        <tbody md-bodylayout="row">
          <tr md-row
            ng-repeat="user in pm.restusers | filter: filter.search | orderBy: pm.query.order | limitTo: pm.query.limit : (pm.query.page -1) * pm.query.limit">
            <td md-cell class="breakall" colspan="2">{{user.uid}}</td>
            <td md-cell class="breakall">{{user.name}}</td>
            <td md-cell class="breakall">
              <div ng-switch="{{user.auth}}">
                <div ng-switch-when="0">
                  Developer
                </div>
              </div>
              <div ng-switch="{{user.auth}}">
                <div ng-switch-when="1">
                  Admin
                </div>
              </div>
              <div ng-switch="{{user.auth}}">
                <div ng-switch-when="2">
                  Project Manager
                </div>
              </div>
            </td>
            <td md-cell><form ng-submit="pm.useradd(user.uid, pm.pid, user.name)"><md-button class="md-primary" type="submit">Add</md-button></form>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    
    <md-table-pagination md-limit="pm.query.limit" md-page="pm.query.page" md-total="{{pm.restusers.length}}" md-page-select md-boundary-links></md-table-pagination>
  </md-card>

  <md-button class="md-raised" a ui-sref="pmProjectView({pid:pm.pid})">Back</md-button>
</div>
</div>