<div ng-controller="developerController as dv" ng-init="dv.initMain()">
<h2 style="padding : 0% 50%;">{{dv.project.name}}</h2>
<br>
<md-card ng-cloak>
	<md-table-container>
		<table md-table class="table_notice">
			<tbody md-bodylayout="row">
				<tr>
					<td>Startdate</td>
					<td>|</td>
					<td>Duedate</td> 
				</tr>
				<tr md-row>
					<td md-cell class="breakall">{{dv.strconvert(dv.project.startdate).slice(0,10)}}</td>
					<td>|</td>
					<td md-cell class="breakall">{{dv.strconvert(dv.project.duedate).slice(0,10)}}</td>
          <td md-cell class="breakall" ng-if="project.done!=null">{{dv.strconvert(project.done).slice(0,10)}}</td>
				</tr>
        	</tbody>
    	</table>
    </md-table-container>
</md-card>
<md-card ng-cloak>
  <md-table-container>
    <table md-table class="table_notice">
        <thead md-head>
        <tr md-row>
          <th md-column md-numeric><span class="title_size">Component</span></th>
          <th md-column md-numeric><span class="title_size">Uptodate</span></th>
          <th md-column><span class="title_size">Duedate</span></th>
          <th md-column><span class="title_size">Done</span></th>
        </tr>
        </thead>
        <tbody md-bodylayout="row">
          <tr md-row
            ng-repeat="todo in dv.todoes">
            <td md-cell class="breakall"><a>{{todo.component}}</a></td>
            <td md-cell class="breakall">{{todo.updatedAt}}</td>
            <td md-cell class="breakall">{{todo.duedate}}</td>
            <td md-cell class="breakall">{{todo.done}}</td>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
</md-card>
</div>