<div ng-controller="AccountController as AC">
  <div ng-init="AC.initModify()">
    <form ng-submit="AC.modify()">
      <md-card>
        <div>
          <h3 style="text-align: center">User: {{AC.user.uid}}</h3>
        </div>
        <div>
          <h2>Name</h2>
          <input type="text" class="" ng-model="AC.user.name" value="{{AC.user.name}}">
          <hr>
        </div>
        <div>
          <h2>Password</h2>
          <div ng-click="AC.changePW()" style="cursor:pointer;">Change Password</div>
          <input style = "border:1px solid black;"ng-style="{'display' : AC.pwshow}" type="text" class="" ng-model="AC.npw">
          <hr>
        </div>
        <div>
          <h2>Email</h2>
          <input type="text" class="" ng-model="AC.user.email" value="{{AC.user.email}}">
          <hr>
        </div>
        <div>
          <h2>Phone</h2>
          <input type="text" class="" ng-model="AC.user.ph" value="{{AC.user.ph}}">
          <hr>
        </div>
      </md-card>
      <md-card>
        <md-button type="submit" class="md-raised"><i class="fa fa-edit">Edit</i></md-button>
        <md-button a ui-sref="main()">Back</md-button>
      </md-card>
    </form>
  </div>
</div>
