<div ng-controller="TodoController as todo" ng-init="todo.initView()">
<h2 style="padding : 0% 50%;">{{todo.project.name}}</h2>
<br>
<md-card ng-cloak>
  <md-table-container>
    <table md-table class="table_notice">
      <tbody md-bodylayout="row">
        <tr>
          <td>Startdate</td>
          <td>|</td>
          <td>Duedate</td> 
        </tr>
        <tr md-row>
          <td md-cell class="breakall">{{todo.project.startdate}}</td>
          <td>|</td>
          <td md-cell class="breakall">{{todo.project.duedate}}</td>
        </tr>
          </tbody>
      </table>
    </md-table-container>
</md-card>
<br>
<md-button class="md-raised"><i class="fa fa-users">  User List</i></md-button>

<md-card>
<md-table-container>
      <table md-table class="table_notice">
        <thead md-head md-order="todo.query.order">
        <tr md-row>
          <th md-column md-numeric md-order-by="p_id"><span class="title_size">Name</span></th>
          <th md-column md-numeric><span class="title_size">Email Address</span></th>
          <th md-column md-order-by="duedate"><span class="title_size">Phone Number</span></th>
        </tr>
        </thead>
        <tbody md-bodylayout="row">
          <tr md-row
            ng-repeat="user in todo.users">
            <td md-cell class="breakall"><a>{{user.name}}</a></td>
            <td md-cell class="breakall">{{user.email}}</td>
            <td md-cell class="breakall">{{user.ph}}</td>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="todo.query.limit" md-page="todo.query.page"
                         md-total="{{todo.projects.length}}" md-page-select
                         md-boundary-links></md-table-pagination>
</md-card>


<br>
<br>
<md-button class="md-raised"><i class="fa fa-users">  Todo Page</i></md-button>

<md-card ng-cloak>
  <md-table-container>
    <table md-table class="table_notice">
        <thead md-head>
        <tr md-row>
          <th md-column md-numeric><span class="title_size">Component</span></th>
          <th md-column md-numeric><span class="title_size">Uptodate</span></th>
          <th md-column><span class="title_size">Duedate</span></th>
          <th md-column><span class="title_size">Done</span></th>
        </tr>
        </thead>
        <tbody md-bodylayout="row">
          <tr md-row
            ng-repeat="todo in todo.todoes">
            <td md-cell class="breakall"><a>{{todo.component}}</a></td>
            <td md-cell class="breakall">{{todo.updatedAt}}</td>
            <td md-cell class="breakall">{{todo.duedate}}</td>
            <td md-cell class="breakall">{{todo.done}}</td>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
</md-card>
  <md-button class="md-raised" ui-sref="todoProjectModify({pid : todo.pid})"><i class="fa fa-edit"></i> Edit</md-button>
</div>