<div class="clearfix"></div>
    <h3>Add Project</h3>
    <form name="main.addForm" class="form" ng-submit="main.addProj()">
        <div class="form-group">
            <label>프로젝트 이름</label>
            <input type="text" class="form-control" ng-model="main.new.p_name" required />
        </div>
        <div class="form-group">
            <label>Todo</label>
            <input type="text" class="form-control" ng-model="main.new.td_name" required />
        </div>
        <div class="form-group">
            <label>담당자</label>
            <input type="text" class="form-control" ng-model="main.new.u_name" required />
        </div>
        <div class="form-group">
            <label>작성일</label>
            <input type="text" class="form-control" ng-model="main.new.startdate" required />
        </div>
        <div class="form-group">
            <label>마감일</label>
            <input type="text" class="form-control" ng-model="main.new.duedate" required />
        </div>
        <div class="row">
            <div class="col-xs-6">
                <label>Finished: <input type="checkbox" ng-model="main.new.done" /></label>
            </div>
            <div class="col-xs-6">
                <button class="btn btn-success pull-right"> Add</button>
            </div>
        </div>
