
<div layout="row" layout-align="center center" >
    <div class="footer-text">
    	<span class="md-caption">
         성균관대학교 자연과학캠퍼스 정보통신/소프트웨어대학<br>

        <!--<a href="#" onclick="window.open('http://scg.skku.ac.kr'); return false"-->
        <a target="_blank" href="http://scg.skku.ac.kr" class="tooltip"
        	data-toggle="tooltip" data-placement="top"
        	title="" style="color: black">
        	<md-tooltip md-direction="top">#15최원영 #20조기윤 #20최서연 #21김대진 #21김종헌 #21박은찬 #21안정혁 #21한상미</md-tooltip>	
        	© Copyright 2017 시스템컨설턴트그룹 All Rights Reserved.</a>
     	</span>
    </div>
</div>

