
<div layout="row" layout-align="center center" >
    <div class="footer-text">
    	<span class="md-caption">
         성균관대학교 자연과학캠퍼스 정보통신/소프트웨어대학<br>

        <!--<a href="#" onclick="window.open('http://scg.skku.ac.kr'); return false"-->
        <a target="_blank" href="http://scg.skku.ac.kr" class="tooltip"
        	data-toggle="tooltip" data-placement="top"
        	title="" style="color: black">
        	<md-tooltip md-direction="top">#21박은찬 #22김병남 #22조건희 #22류민재 #22강민재 #22오영환 #22고현수 #22김윤지 #22 이창원</md-tooltip>	
        	© Copyright 2018 시스템컨설턴트그룹 All Rights Reserved.</a>
     	</span>
    </div>
</div>

