<!-- Header File -->
<div class="nav_menu">
	<div ng-controller="LayoutController as layout">
        <table>
            <col width="130">
            <tr>
                <td>
                    <i style="cursor:pointer"class="fa fa-bars fa-2x" ng-click="layout.toggleLeft()"></i>
                </td>
                <td>
                    <h2 style="font-size: 23pt;">{{layout.stateParams.title}}</h2>
                </td>
            </tr>
        </table>
	</div>
	<span flex></span>
	<md-button ng-controller="LoginController as login" class="md-raised" ng-click="login.logout();"><a href=""></a><i class="fa fa-sign-out"></i>Log Out</md-button>
</div>