<body>
  <div class="demo">
    <div class="login" ng-controller="LoginController as login">
      <!--
      <div class="login__check"></div>
      -->
      <div>
        <img src = "./assets/images/scg_logo_edit.png"> 
      <!--SCG Logo 화질 개선 및 사이즈 변환 필요 -->
      </div>
      <div class="login__form">
        <div class="login__row">
          <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
            <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
          </svg>
          <input type="text" class="login__input name" placeholder="Username"/>
        </div>
        <div class="login__row">
          <svg class="login__icon pass svg-icon" viewBox="0 0 20 20">
            <path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0" />
          </svg>
          <input type="password" class="login__input pass" placeholder="Password"/>
        </div>
        <button type="button" class="login__submit" ng-click="login.login()">Sign in</button>
        <p class="login__signup">Don't have an account? <a>Sign up</a></p>
      </div>
</body>