<body>
  <div class="demo">
    <form class="login" ng-controller="LoginController as login">
      <!--
      <div class="login__check"></div>
      -->
      <div class="login__image">
        <img src = "./assets/images/scg_logo_edit.png" style=" width: 80%; height: auto;"> 
    
      </div>
      <div class="login__form">
        <div class="login__row">
          <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
            <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
          </svg>
          <input type="text" class="login__input name" ng-model="login.uid" placeholder="Username" value=""/>
        </div>
        <div class="login__row">
          <svg class="login__icon pass svg-icon" viewBox="0 0 20 20">
            <path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0" />
          </svg>
          <input type="password" class="login__input pass" ng-model="login.pw" id="password_input" placeholder="Password" value=""/>
        </div>
        <button type="button" class="login__submit" ng-click="login.login()">Sign in</button>
        <p class="login__signup">Don't have an account? <a ui-sref="loginRegister"> Sign up </a> </p>
      </form>
</body>