<md-toolbar class="md-tall md-hue-2">
    <span flex></span>
    <div layout="column" class="md-toolbar-tools-bottom inset">

        <span></span>
        <div align="center"><img style="width: 240px" ; src="/profsystem/assets/images/logo_main.png"></div>
    </div>
</md-toolbar>
<md-list>

    <!--
    사이드바 닫는 버튼 따로 필요 없다고 생각됨
    <md-button ng-click="layout.close()" class="md-accent" hide-gt-md="">
        Close Sidebar
    </md-button>
    -->
    <!-- {{layout.stateParams.user}} -->

    <div ng-switch on="layout.user">
        <md ng-switch-when="prof">
            <div class="md-div-name">
                <br/>
                {{layout.prof_info.name}} 교수님
                <p class="md-div-num">(내선번호 {{layout.prof_info.uid}})</p>
                <br/>
                <md-divider></md-divider>
                <form ng-submit="layout.modifyAssigned()">
                    <table class="table_credit">
                        <tr>
                            <th>구분</th>
                            <th>전체</th>
                            <th>학부</th>
                            <th>국제어</th>
                        </tr>
                        <tr>
                            <td style="color:dodgerblue">신청</td>
                            <td>{{layout.prof_info.total_requested}}</td>
                            <td>{{layout.prof_info.undergrad_requested}}</td>
                            <td>{{layout.prof_info.foreign_requested}}</td>
                        </tr>
                        <tr>
                            <td style="color:deeppink">확정</td>
                            <td>{{layout.prof_info.total_determined}}</td>
                            <td>{{layout.prof_info.undergrad_determined}}</td>
                            <td>{{layout.prof_info.foreign_determined}}</td>
                        </tr>
                        <td></td>
                    </table>
                    
                </form>
                <br/>
            </div>
            <!-- 학점표 끝 -->

            <md-divider></md-divider>
            <md-subheader>메뉴</md-subheader>
            <md-divider></md-divider>
            <md-list-item ui-sref="{{item.link}}" ng-repeat="item in layout.prof" ui-sref-opts="{reload: true}">
                <ng-md-icon icon="{{item.icon}}" style="margin-top:0; margin-bottom:10px;"></ng-md-icon>
                <p style="size:0.9em"> {{ item.title }} </p>
            </md-list-item>
        </md>

        <md ng-switch-when="admin">
            <md-subheader>메뉴</md-subheader>
            <md-divider></md-divider>

            <md-list-item ui-sref="{{item.link}}" ng-repeat="item in layout.admin" ui-sref-opts="{reload: true}">
                <ng-md-icon icon="{{item.icon}}" style="margin-top:0; margin-bottom:10px;"></ng-md-icon>
                <p style="size:0.9em"> {{ item.title }} </p>
            </md-list-item>
        </md>

        <md-item ng-switch-default>
            <a>
                Error
                <!-- user값 파라미터로 넘어오지 않음 -->
            </a>
        </md-item>
    </div>
</md-list>
