<div ng-controller="AdminApproveController as adminApprove"> 
  <div ng-init="adminApprove.initUsers()">
  <md-card>
    <h2 style="font-size: 23pt;">&nbsp;Total Users: <strong>{{adminApprove.user.length}}</strong> 
    <br>
    </h2>
  </md-card>
  <md-card ng-cloak>
    <md-card>
      <md-input-container md-no-float class="md-block">
        <ng-md-icon icon="search" style="margin-left:5px"></ng-md-icon>
        <input style="max-width:90%" ng-model="filter.search" type="text" placeholder="Search">
      </md-input-container>
    </md-card>

    <md-table-container>
      <table md-table class="table_notice">
        <thead md-head md-order="adminApprove.query.order">
        <tr md-row>
          <th md-column md-numeric md-order-by="uid" colspan="2"><span class="title_size">ID</span></th>
          <th md-column md-numeric md-order-by="name"><span class="title_size">User Name</span></th>
          <th md-column md-numeric md-order-by="auth"><span class="title_size">Role</span></th>
        </tr>
        </thead>
        <tbody md-bodylayout="row">
          <tr md-row
            ng-repeat="user in adminApprove.user | filter: filter.search | orderBy: adminApprove.query.order | limitTo: adminApprove.query.limit : (adminApprove.query.page -1) * adminApprove.query.limit">
            
            <td md-cell class="breakall" colspan="2">{{user.uid}}</td>
            <td md-cell class="breakall">{{user.name}}</td>
            <td md-cell class="breakall">
              <div ng-switch="{{user.auth}}">
                <div ng-switch-when="0">
                  Developer
                </div>
              </div>
              <div ng-switch="{{user.auth}}">
                <div ng-switch-when="1">
                  Admin
                </div>
              </div>
              <div ng-switch="{{user.auth}}">
                <div ng-switch-when="2">
                  Project Manager
                </div>
              </div>
            </td>
            <td md-cell>
              <md-button class="md-primary" ng-click="adminApprove.approve(user.uid)">Approve</md-button>
              <md-button class="md-accent" ng-click="adminApprove.delete(user.uid)">Refuse</md-button>
            </td>
              
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="adminApprove.query.limit" md-page="adminApprove.query.page" md-total="{{adminApprove.user.length}}" md-page-select md-boundary-links></md-table-pagination>
  </md-card>
</div>
</div>