<div ng-controller="AdminProjectController as adminproject" ng-init="adminproject.initView()">
<h2>{{adminproject.project[0].name}}</h2>
<br>
<md-card ng-cloak>
	<md-table-container>
		<table md-table class="table_notice">
			<tbody md-bodylayout="row">
				<tr>
					<td>Startdate</td>
					<td>|</td>
					<td>Duedate</td> 
				</tr>
				<tr md-row>
					<td md-cell class="breakall">{{adminproject.project[0].startdate.slice(0,10)}}</td>
					<td>|</td>
					<td md-cell class="breakall">{{adminproject.project[0].duedate.slice(0,10)}}</td>
				</tr>
        	</tbody>
    	</table>
    </md-table-container>
</md-card>
<br>
<md-button class="md-raised"><i class="fa fa-users" ng-click="layout.toggleLeft()">  User List</i></md-button>

<md-card>
<md-table-container>
      <table md-table class="table_notice">
        <thead md-head md-order="adminproject.query.order">
        <tr md-row>
          <th md-column md-numeric md-order-by="p_id"><span class="title_size">Name</span></th>
          <th md-column md-numeric><span class="title_size">Email Address</span></th>
          <th md-column md-order-by="duedate"><span class="title_size">Phone Number</span></th>
        </tr>
        </thead>
        <tbody md-bodylayout="row">
          <tr md-row
            ng-repeat="user in adminproject.users | filter: filter.search | orderBy: adminproject.query.order | limitTo: adminproject.query.limit : (adminproject.query.page -1) * adminproject.query.limit">
            <td md-cell class="breakall"><a href="/admin/project/{{adminproject.pid}}">{{user.name}}</a></td>
            <td md-cell class="breakall">{{user.email}}</td>
            <td md-cell class="breakall">{{user.ph}}</td>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="adminproject.query.limit" md-page="adminproject.query.page"
                         md-total="{{adminproject.projects.length}}" md-page-select
                         md-boundary-links></md-table-pagination>
</md-card>


<br>
<br>
  <md-button class="md-raised" a ui-sref="adminProjectModify({ modify_id: adminproject.project[0].pid })"><i class="fa fa-edit"></i> Edit </md-button>
  <md-button class="md-raised" ng-click="adminproject.delete(adminproject.project[0].pid)"><a><i class="fa fa-trash"></i> Delete</a></md-button>

</div>