<div ng-controller="AdminProjectController as adminproject" ng-init="adminproject.initProject()"> 
<div ng-init="adminproject.initView()">
<md-card ng-cloak>
  <md-table-container>
    <table md-table class="table_notice">
      <tbody md-bodylayout="row">
        <tr>
          <td style="width: 50%">Project Name</td>
          <td>|</td>
          <td style="width: 50%">Project Manager</td> 
        </tr>
        <tr md-row>
          <td md-cell class="breakall">{{adminproject.project.name}}</td>
          <td>|</td>
          <td md-cell class="breakall">{{adminproject.pm.name}}</td>
        </tr>
          </tbody>
      </table>
    </md-table-container>
</md-card>
<br>
<md-card ng-cloak>
	<md-table-container>
		<table md-table class="table_notice">
			<tbody md-bodylayout="row">
				<tr>
					<td>Startdate</td>
					<td>|</td>
					<td>Duedate</td> 
				</tr>
				<tr md-row>
					<td md-cell class="breakall">{{adminproject.strconvert(adminproject.project.startdate).slice(0,10)}}</td>
					<td>|</td>
					<td md-cell class="breakall">{{adminproject.strconvert(adminproject.project.duedate).slice(0,10)}}</td>
				</tr>
        	</tbody>
    	</table>
    </md-table-container>
</md-card>
<br>
<md-button class="md-raised" a ui-sref="adminProjectUsers({ pid: adminproject.project.pid })"><i class="fa fa-users">Add Users</i></md-button>

<md-card>
<md-table-container>
      <table md-table class="table_notice">
        <thead md-head md-order="adminproject.query.order">
        <tr md-row>
          <th md-column md-numeric md-order-by="p_id"><span class="title_size">Name</span></th>
          <th md-column md-numeric><span class="title_size">Email Address</span></th>
          <th md-column md-order-by="duedate"><span class="title_size">Phone Number</span></th>
        </tr>
        </thead>
        <tbody md-bodylayout="row">
          <tr md-row
            ng-repeat="user in adminproject.users">
            <td md-cell class="breakall">{{user.name}}</td>
            <td md-cell class="breakall">{{user.email}}</td>
            <td md-cell class="breakall">{{user.ph}}</td>
            <td md-cell class="breakall"><md-button class="md-raised" ng-click="adminproject.deleteUser(user.uid)"><i class="fa fa-trash"></i> Delete</md-button></td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="adminproject.query.limit" md-page="adminproject.query.page"
                         md-total="{{adminproject.projects.length}}" md-page-select
                         md-boundary-links></md-table-pagination>
</md-card>
<br>
<br>
<md-button class="md-raised" ui-sref="todo({pid :adminproject.pid})"><i class="fa fa-users">  Todo Edit</i></md-button>
<md-card ng-cloak>
  <md-table-container>
    <table md-table class="table_notice">
        <thead md-head>
        <tr md-row>
          <th md-column md-numeric><span class="title_size">Component</span></th>
          <th md-column md-numeric><span class="title_size">Uptodate</span></th>
          <th md-column><span class="title_size">Duedate</span></th>
          <th md-column><span class="title_size">Done</span></th>
        </tr>
        </thead>
        <tbody md-bodylayout="row">
          <tr md-row
            ng-repeat="todo in adminproject.todoes">
            <td md-cell class="breakall"><a>{{todo.component}}</a></td>
            <td md-cell class="breakall">{{adminproject.strconvert(todo.updatedAt).slice(0,10)}}</td>
            <td md-cell class="breakall">{{adminproject.strconvert(todo.duedate).slice(0,10)}}</td>
            <td md-cell class="breakall" ng-if="todo.done!=null">{{adminproject.strconvert(todo.done).slice(0,10)}}</td>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
</md-card>
<br>
<br>
  <md-button class="md-raised" a ui-sref="adminProjectModify({ pid: adminproject.project.pid })"><i class="fa fa-edit"></i> Edit </md-button>
  <md-button class="md-raised" ng-click="adminproject.delete(adminproject.project.pid)"><a><i class="fa fa-trash"></i> Delete</a></md-button>
</div>
</div>
