<div class="form-group" ng-controller="AdminProjectController as adminproject">
    <form ng-submit="adminproject.add()">
    <h2>Name</h2><input class="board__input" type="name" ng-model="name">
    <br>
    <h2>Startdate</h2><input class="board__input" type="date" ng-model="startdate">
    <br>
    <h2>Duedate</h2><input class="board__input" type="date" ng-model="duedate">
    <br>
    <br>
    <md-button class="md-raised" type="submit"><i class="fa fa-plus-square"> Create Project </i></md-button>
  </form>
</div>
